H1 {
    font-family:"Poppins Bold", sans-serif;
      font-size: 2.5rem;
   }
   
   body {
     font-family: Lato;
     background-color: #F2F2F2;
     line-height: 1.5;
     font-size:1rem;
   }
   
   a {
     color: #59331D;
   }
   a:hover {
     color: #D98555;
   }
   nav ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
     text-align: center;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
   }
   nav a {
     color: #FFFFFF;
     text-decoration: none;
     font-weight: bold;
     padding: 0.2rem;
   }
   nav li {
     margin: 1rem;
   }
   
   header {
     background: #082B59;
   border-bottom-style: solid;
     border-width: thick;
     border-color: #D98555;
     margin: -.625rem -.625rem 3rem;
     overflow: hidden;
   }
   
   img {
    width:10rem;
     }
   
   .roastlogo {
     text-align: center;
     display: block;
     flex-basis: 100%;
   }
   
   .kettle {
     width:100%;
     border-top-left-radius:1rem;
     border-top-right-radius:1rem;
   }
   
   .box{
     display: flex;
     flex-direction: row;
     align-items: center;
   }
   article {
     width: 35%;
     margin-left: 30rem;
     margin-top: -7rem;
     line-height: 2rem;
   }
   aside {
     width: 18rem;
     margin-right: 10rem;
   }
   
   figcaption {
     border: 1rem solid #59331D;
     background-color: #59331D;
     color: #FFFFFF;
     margin-top: -1rem;
     border-bottom-left-radius: 1rem;
     border-bottom-right-radius: 1rem;
     margin-bottom: 4rem;
     font-size: .75rem;
     line-height: 1.5rem;
   }
   
   button {
       background-color:#59331D;
     color:#FFFFFF;
       appearance: none;
       border-radius: 4px;
       font-size: 1.25rem;
       padding: 0.75rem 1rem;
       border: 1px solid navy;
       color: coffee;
    }
   
    footer {
     background-color: #082B59;
     color: #FFFFFF;
     border-top-style: solid;
     border-width: thick;
     border-color: #D98555;
     text-align: center;
     padding: .66rem;
     margin-bottom: -100rem;
     margin-right: -.625rem;
     margin-left: -.625rem;
     overflow: hidden;
   }
   